<h1>Welcome, <%=User.username%> to Fwitter</h1>

<% if flash.has?(:message) %>
<%= flash[:message] %>
<% end %>

<% if logged_in? %>
<h3>You are logged in. To continue, please select from the following options.</h3>

<form action="/tweets" method="get">
  <input type="submit" name="" value="View Tweets">
</form>

<br>

<form action="/tweets/new" method="get">
  <input type="submit" name="" value="New Tweet">
</form>

<br>

<form action="/logout" method="get">
  <input type="submit" name="" value="Log Out">
</form>

<% else %>
<h3>Please <a href="/signup">Sign Up</a> or <a href="/login">Log In</a>to continue.</h3>
<%end%>
